{{ 'text-image.css' | asset_url | stylesheet_tag }}

<div class="text-image-wrapper" style="background-color:{{ section.settings.background-color }}">
    {% if section.settings.layout %}
        <div class="text-image">
            <p class="body-text"> {{ section.settings.text }}</p>
            <img class="section-img" src="{{ section.settings.image | image_url }}" alt="image" />   
        </div>
    {% else %}
        <div class="text-image">
            <img class="section-img" src="{{ section.settings.image | image_url }}" alt="image" />   
            <p class="body-text"> {{ section.settings.text }} </p>
        </div>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Text-Image Section",
        "settings": [
            {
                "id": "text",
                "label": "body text",
                "type": "text"
            },
            {
                "id": "image",
                "label": "image",
                "type": "image_picker"
            },
            {
                "id": "background-color",
                "label": "background color",
                "type": "color"
            },
            {
                "id": "layout",
                "label": "flip image and text order",
                "type": "checkbox"
            }
        ],
        "presets": [
            {
                "name": "Text Image Block",
                "settings": {
                    "text": "body text"
                },
                "blocks": []
            }
        ],
        "enabled_on": {
            "templates": ["*"]
        }
    }
{% endschema %}